@charset "UTF-8";

body{
    background-color: #80C5F7;
}

header{
    display: flex;
    background-color: rgba(26, 26, 28, 0.858);
   align-items: center;
   justify-content: space-between; /*separa os itens */
   padding: 20px;
}

.home{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration:  none;
    color: azure;
}



h1{
    text-align: center;
    color: aliceblue;
}




.botao-comprar{
    display: block; /* ocupa o espaço todo */
    width: max-content; /* agora ocupe somente o conteudo */
    text-decoration: none; 
    margin: auto; /* deixe as margens no automatico = centralize */

   
    padding: 15px 25px;
    color:aquamarine ;
    background-color: #0349C4;
    border-radius: 12px;

}